---
import { icon } from "@/constants/icon";
import Animate from "@/components/svelte/Animate.svelte";
---

<section class="h-full w-full text-primary-100 flex flex-col gap-5">
  <Animate client:load delay={900}>
    <div class="card py-2.5 px-5">
      <h1 class="text-200 font-bold">Some of my article</h1>
    </div>
  </Animate>
  {
    [...Array(2)].map((_, i) => (
      <Animate client:load className="h-full" delay={1000 + i * 100}>
        <a href="/article">
          <div class="card p-5 flex flex-col gap-2.5 h-full">
            <div class="mb-2.5">
              <h1 class="lg:text-300 text-200 font-bold">Lorem, ipsum dolor.</h1>
              <p class="text-100 font-medium opacity-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta corporis possimus dolorem quisquam
                debitis autem.
              </p>
            </div>

            <div class="flex gap-1">
              <span class={`${icon.calender} text-primary-100 size-5`} />
              <p>1 January 2025</p>
            </div>
          </div>
        </a>
      </Animate>
    ))
  }
  <Animate client:load delay={1300}>
    <a href="/about">
      <div class="card py-2.5 px-5 flex justify-between items-center">
        <h1 class="text-200 font-bold">All my article</h1>
        <span class={`${icon.newTab} size-5`}></span>
      </div>
    </a>
  </Animate>
</section>
