---
import { icon } from "@/constants/icon";
import Animate from "@/components/svelte/Animate.svelte";
---

<section class="h-full w-full text-primary-100 flex flex-col gap-5">
  <Animate client:load delay={900} className="card py-2.5 px-5">
    <h1 class="text-200 font-bold">Some of my work</h1>
  </Animate>

  <Animate client:load className="grid grid-cols-2 grid-rows-2 gap-5 h-full" delay={1000}>
    {
      [...Array(4)].map((_) => (
        <a href="/project" class="block group h-full">
          <div class="card relative lg:h-full h-[175px] rounded">
            <div class="absolute inset-0 bg-[url('../img/old-web.png')] bg-center bg-cover opacity-90 group-hover:opacity-40 transition-opacity duration-300 bg-s" />

            <div class="relative flex items-center justify-center h-full">
              <h1 class="text-300 font-bold text-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 h-full flex items-center justify-center">
                My Old Porto
              </h1>
            </div>
          </div>
        </a>
      ))
    }
  </Animate>
  <Animate client:load delay={1100}>
    <a href="/projects" class="card bg-secondary-200 py-2.5 px-5 flex justify-between items-center">
      <h1 class="text-200 font-bold">All my projects</h1>
      <span class={`${icon.newTab} size-5`}></span>
    </a>
  </Animate>
</section>
