---
type Props = {
    title: string;
    description: string;
    techStack: string[];
    img: string;
    slug: string;
};

const { title, description, techStack, img, slug } = Astro.props;
---

<a
    href={`/projects/${slug}`}
    class="flex sm:flex-row flex-col gap-5 justify-between sm:items-end items-start hover:opacity-50"
>
    <div>
        <h1 class="text-200 font-bold mb-1.5">{title}</h1>
        <h2 class="opacity-60">{description}</h2>
    </div>
    <div class="flex gap-1.5">
        {
            techStack.map((tech) => (
                <span class="font-semibold bg-primary text-white px-2 py-1 rounded-md text-[14px]">{tech}</span>
            ))
        }
    </div>
</a>
