---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArticleCard from "@/components/card/ArticleCard.astro";
import Empty from "@/components/Empty.astro";

const articles = await getCollection("articles");
---

<Layout title="Articles">
    <h1 class="sm:text-300 text-200 font-bold mb-10">My Articles</h1>
    <div class="flex flex-col gap-5">
        {
            articles.length !== 0 ? (
                articles
                    .sort((a, b) => {
                        return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
                    })
                    .map((article) => <ArticleCard {...article.data} slug={article.slug} />)
            ) : (
                <Empty props="No articles yet" />
            )
        }
    </div>
</Layout>
