---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/card/ProjectCard.astro";
import Empty from "@/components/Empty.astro";

const projects = await getCollection("projects");
---

<Layout
    seo={{
        title: "Projects",
        description: "Some list of my personal projects",
    }}
>
    <h1 class="sm:text-300 text-200 font-bold mb-10">Personal Projects</h1>
    <div class="flex flex-col gap-5">
        {
            projects.length !== 0 ? (
                projects
                    .sort((a, b) => {
                        return (
                            new Date(b.data.createdDate).getTime() -
                            new Date(a.data.createdDate).getTime()
                        );
                    })
                    .map((project) => (
                        <ProjectCard {...project.data} slug={project.slug} />
                    ))
            ) : (
                <Empty props="No projects yet" />
            )
        }
    </div>
</Layout>
