---
import Animate from "@/components/Animate.svelte";
import Clock from "@/components/Clock.svelte";
import { icon } from "@/constants/icon";
---

<section class="flex-1/2 flex flex-col gap-5 w-full h-full text-primary-100">
  <Animate className="h-full" client:load delay={900}>
    <a href="/about">
      <div class="card bg-secondary-200 flex justify-between items-center p-5 border h-full">
        <h1 class="md:text-200 text-150 font-bold">More about me</h1>
        <span class={`${icon.newTab} size-6`}></span>
      </div>
    </a>
  </Animate>

  <Animate client:load delay={1000}>
    <a href="/">
      <div class="card bg-secondary-100 py-2.5 px-5 flex justify-between items-center">
        <h1 class="md:text-200 text-150 font-bold">Download CV</h1>
        <span class={`${icon.download} size-6`}></span>
      </div>
    </a>
  </Animate>

  <Animate client:load className="h-full" delay={1100}>
    <div class="card h-full flex items-center justify-center py-2.5 px-5">
      <Clock client:load className="text-300 font-serif text-center font-semibold" />
    </div>
  </Animate>

  <Animate client:load className="lg:block hidden" delay={1200}>
    <div class="card py-2.5 px-5 flex flex-col items-center">
      <p class="text-[14px] text-center">
        ©{new Date().getFullYear()} · Made with
        <a href="https://astro.build" target="_blank" class="text-secondary-200 font-bold">Astro</a>
      </p>
    </div>
  </Animate>
</section>
