@import "tailwindcss";

@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

@theme {
    --font-primary: "Ubuntu Sans", sans-serif;
    --color-primary: #333333;

    --text-100: 1rem; /* 16px */
    --text-150: 1.125rem; /* 18px */
    --text-200: 1.25rem; /* 20px */
    --text-300: 1.5rem; /* 24px */
    --text-400: 2rem; /* 32px */
    --text-500: 2.25rem; /* 36px */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility base-prose {
    @apply prose text-primary prose-headings:text-primary prose-p:text-primary prose-ul:text-primary
    prose-ol:text-primary prose-li:text-primary prose-strong:text-primary
    prose-em:text-primary prose-a:text-primary prose-code:text-primary prose-blockquote:text-primary
    prose-th:text-primary prose-td:text-primary max-w-none sm:text-100 text-[14px];
}

* {
    @apply transition;
}
