@import "tailwindcss";

@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

@theme {
    --font-primary: "Ubuntu Sans", sans-serif;
    --color-primary: #333333;

    --text-100: 1rem; /* 16px */
    --text-150: 1.125rem; /* 18px */
    --text-200: 1.25rem; /* 20px */
    --text-300: 1.5rem; /* 24px */
    --text-400: 2rem; /* 32px */
    --text-500: 2.25rem; /* 36px */
}

* {
    @apply transition;
}
