---
import Animate from "./Animate.svelte";

const { delay } = Astro.props;
---

<Animate client:load {delay} className="card py-2.5 px-5 my-5 text-primary-100">
  <h1 class="text-200 font-bold text-center">That's all for now</h1>
</Animate>
