---
import "@/style/global.css";
import Animate from "@/components/Animate.svelte";
import { navItems } from "@/constants/nav";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Hamdanu"}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans-serif bg-primary-400 p-5">
    <Animate client:load delay={100}>
      <nav class="card w-full text-primary-100 flex justify-center items-center py-2">
        <div class="grid grid-cols-4 place-items-center font-semibold text-100">
          {
            navItems.map((item) => (
              <a class="hover:bg-primary-400 px-3 py-0.5 rounded transition" href={item.url}>
                {item.name}
              </a>
            ))
          }
        </div>
      </nav>
    </Animate>

    <slot />
  </body>
</html>
